html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='45.03' height='39' viewBox='0 0 34.64101615137755 30' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(26, 32, 44,1)'/%3E%3Cpath d='M-20-20h200v200h-200M26.41 29.75L25.98 29.5L25.55 29.75L25.55 30.25L25.98 30.5L26.41 30.25zM9.09 29.75L8.66 29.5L8.23 29.75L8.23 30.25L8.66 30.5L9.09 30.25zM0.43 14.75L0 14.5L-0.43 14.75L-0.43 15.25L0 15.5L0.43 15.25zM9.09-0.25L8.66-0.5L8.23-0.25L8.23 0.25L8.66 0.5L9.09 0.25zM26.41-0.25L25.98-0.5L25.55-0.25L25.55 0.25L25.98 0.5L26.41 0.25zM35.07 14.75L34.64 14.5L34.21 14.75L34.21 15.25L34.64 15.5L35.07 15.25zM17.75 14.75L17.32 14.5L16.89 14.75L16.89 15.25L17.32 15.5L17.75 15.25z' fill='rgba(26, 32, 44,1)'/%3E%3Cpath d='M-20-20h200v200h-200M37.21 25.25L28.98 20.5L20.75 25.25L20.75 34.75L28.98 39.5L37.21 34.75zM19.89 25.25L11.66 20.5L3.43 25.25L3.43 34.75L11.66 39.5L19.89 34.75zM11.23 10.25L3 5.5L-5.23 10.25L-5.23 19.75L3 24.5L11.23 19.75zM19.89-4.75L11.66-9.5L3.43-4.75L3.43 4.75L11.66 9.5L19.89 4.75zM37.21-4.75L28.98-9.5L20.75-4.75L20.75 4.75L28.98 9.5L37.21 4.75zM45.87 10.25L37.64 5.5L29.41 10.25L29.41 19.75L37.64 24.5L45.87 19.75zM54.53 25.25L46.3 20.5L38.07 25.25L38.07 34.75L46.3 39.5L54.53 34.75zM28.55 40.25L20.32 35.5L12.09 40.25L12.09 49.75L20.32 54.5L28.55 49.75zM2.57 25.25L-5.66 20.5L-13.89 25.25L-13.89 34.75L-5.66 39.5L2.57 34.75zM2.57-4.75L-5.66-9.5L-13.89-4.75L-13.89 4.75L-5.66 9.5L2.57 4.75zM28.55-19.75L20.32-24.5L12.09-19.75L12.09-10.25L20.32-5.5L28.55-10.25zM54.53-4.75L46.3-9.5L38.07-4.75L38.07 4.75L46.3 9.5L54.53 4.75zM45.87 40.25L37.64 35.5L29.41 40.25L29.41 49.75L37.64 54.5L45.87 49.75zM11.23 40.25L3 35.5L-5.23 40.25L-5.23 49.75L3 54.5L11.23 49.75zM-6.09 10.25L-14.32 5.5L-22.55 10.25L-22.55 19.75L-14.32 24.5L-6.09 19.75zM11.23-19.75L3-24.5L-5.23-19.75L-5.23-10.25L3-5.5L11.23-10.25zM45.87-19.75L37.64-24.5L29.41-19.75L29.41-10.25L37.64-5.5L45.87-10.25zM63.19 10.25L54.96 5.5L46.73 10.25L46.73 19.75L54.96 24.5L63.19 19.75zM28.55 10.25L20.32 5.5L12.09 10.25L12.09 19.75L20.32 24.5L28.55 19.75z' fill='rgba(82, 25, 25,0.81)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

#header {
  background-image: url('../images/background/background_1.png');
  width: 100%;
  background-attachment: fixed;
}

.white {
    padding-left: 10px;
    display: inline;
    color: white;
    font-size: 16px;
    vertical-align: middle;
}

#setup {
    display: none;
}

#track {
    display: none;
}

#button-page-calculator {
    background-color: rgb(100, 0, 30);
}

span {
    color: white;
}

.myBarGray span {
    position: absolute;
    top: 0;
    z-index: 2;
    text-align: center;
    width: 100%;
    color: white;
    transform: translate(-50%, 0);
}

#myBar {
    z-index: 1;
    position: absolute;
    width: 0%;
    height: 20px;
    background-color: red;
    border-radius: 25px;
    text-align: center;
    color:white;
}

.myBarGray {
    position: relative;
    width:100%;
    height: 20px;
    background-color: rgb(51, 51, 51);
    border-radius: 25px;
    margin: 10px;
    text-align: center;
    color:white;
}

.tab-button {
    transition-duration: 0.5s;
    background-color: red;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    margin: 8px;
    cursor: pointer;
    width: 200px;
    border-radius: 10px;
}

.tab-button:hover {
    background-color: white;
    color: red;
  }

.horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    width: 90%;
}

.radio-button {
    width: 100%;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    margin: 8px;
    width: 300px;
}
  
.radio-button label,
.radio-button input {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition-duration: 0.3s;
    width: 80%;
    margin-left: 8%; /* 10% out of 80% = 8% */
    border-radius: 20px;
    background-color: red;
}
  
/* Hide classic radio "check circle" */
.radio-button input[type="radio"] {
    opacity: 0.001;
    z-index: 100;
}
  
.radio-button input[type="radio"]:checked+label,
.Checked+label {
    background: rgb(100, 0, 30);
}

#calculator h1,
#calculator h2,
#calculator h3,
#calculator h4,
#setup h1,
#setup h2,
#setup h3,
#setup h4,
#track h1,
#track h2,
#track h3,
#track h4 {
    color: white;
}
  
.radio-button label {
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
}
 
.radio-button label:hover {
    background: white;
    color: red;
}
  
#submit-button:hover {
    background-color: white;
    color: red;
}

.season-button {
    display: inline-block;
}

.season-button label,
.season-button input {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition-duration: 0.3s;
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 10%;
}

tr:nth-child(even) {
    background-color: #242424;
}

tr:nth-child(odd) {
    background-color: #1a1a1a;
}

table button {
    color:black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='29' height='29' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(26, 29, 46,1)'/%3E%3Cpath d='M-10 30h60v4h-60zM-10-10h60v4h-60' fill='rgba(107, 30, 42,0.41)'/%3E%3Cpath d='M-10 18h60v4h-60zM-10-22h60v4h-60z' fill='rgba(60, 54, 107,0.25)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: white;
}

/* The Close Button */
.close span {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}
.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 14px;
}

p img {
    height: 1.5em;
    width: auto;
}
/*
.invert{
    filter: invert(100%);
}
*/
.login_window {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.login_window-content {
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='29' height='29' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(26, 29, 46,1)'/%3E%3Cpath d='M-10 30h60v4h-60zM-10-10h60v4h-60' fill='rgba(107, 30, 42,0.41)'/%3E%3Cpath d='M-10 18h60v4h-60zM-10-22h60v4h-60z' fill='rgba(60, 54, 107,0.25)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
    color: white;
}

.login_window-content .row{
    margin-top: 20px;
}
  
  /* The Close Button */
.close,
.login_window_close,
.register_window_close {
    color: red;
    float: right;
    font-weight: bold;
    height: 10px;
    font-size: 28px;
}

.button-to-login {
    transition-duration: 0.5s;
    background-color: red;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
height: 30px;
}

.close:hover,
.close:focus,
.login_window_close:hover,
.login_window_close:focus,
.register_window_close:hover,
.register_window_close:focus  {
    color: white;
    text-decoration: none;
    cursor: pointer;
    height: 10px;
}

#show-setup-table-2019 {
    display: none;
}

#show-setup-table-2020 {
    display: none;
}

#logged_in img {
    border-radius: 50%;
    width: 68px;
    padding: 3px;
}

.pfp-select-img {
    border-radius: 50%;
    width: 68px;
    padding: 3px;
}

#logged_in {
    display: none;
}

#logged_out {
    display: block;
}

.pfp-select input[type="radio"] {
    display: none;
}

.pfp-select input[type="radio"]:checked + label {
    border: 1px solid red;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
s
/* Track */
::-webkit-scrollbar-track {
  background: #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}

#show-setup-table-2019 {
    display: none;
}

#show-setup-table-2020 {
    display: none;
}