html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.tab-button {
    transition-duration: 0.5s;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 8px;
    cursor: pointer;
    width: 200px;
}

.tab-button:hover {
    background-color: gray;
    color: white;
  }

.horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    width: 90%;
}

.triple-column {
    width: 75%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }

.column {
    float: left;
    width: 33.33%;
   
}

.radio-button {
    width: 100%;
}
  
.radio-button label, .radio-button input {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition-duration: 0.3s;
    width: 80%;
    margin-left: 8%; /* 10% out of 80% = 8% */
}
  
/* Hide classic radio "check circle" */
.radio-button input[type="radio"] {
    opacity: 0.001;
    z-index: 100;
}
  
.radio-button input[type="radio"]:checked+label, .Checked+label {
    background: gray;
}
  
.radio-button label {
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
}
 
.radio-button label:hover {
    background: #DDD;
}

#submit-button {

}
  
#submit-button:hover {
    background-color: gray;
    color: white;
}

#submit-button:active {
    background-color: green;
    color: white;
}

#active-tab {
    background-color: gray;
    border: 1px solid black;
    color: white;
}

.season-button {
    display: inline-block;
}

.season-button label, .season-button input {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition-duration: 0.3s;
    width: 100%;
    margin-left: 0%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 10%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}
.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 14px;
}

p img {
    height: 1.5em;
    width: auto;
}

.invert{
    filter: invert(100%);
}